
@model IEnumerable<BookStore.Models.Book>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Book Name</th>
            <th scope="col">Author</th>
            <th scope="col">Stock</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (var book in Model)
            {
                <tr>
                    <td>@book.BookName</td>
                    <td>@book.Author</td>
                    <td>@book.Stock</td>
                    <td>
                        <div class="btn-group d-flex">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-outline-warning">Edit</a>
                                <a asp-action="Delete" asp-route-id="@book.Id" class="btn btn-outline-danger">Delete</a>
                            }
                            </div>

                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>No Books Currently Available</td>
            </tr>
        }
    </tbody>
</table>

@if (User.Identity.IsAuthenticated)
{
    <a asp-action="Create" class="btn btn-dark float-right">Add New Book</a>
}




